*   {
    margin:0;
    padding:0;
    }

body{
    background: white;
    font-family: 'poppy','Helvetica', 'Arial', 'sans-serif';
    /* overflow-x: hidden */
}

p{
  line-height: 2;
}

/* NAVIGATION */

  .navigation-bar {
    position: relative;
    top: 0;
    width: 100%;
    height: 75px;
    line-height: 75px;
    /* background: white; */
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .nav-links a {
    text-decoration: none;
    margin: 0 20px 0 20px;

  }

  .nav-li{
    color: white;
    display: inline-block;
    width:150px;
    font-size: 28px;
    transition: 1s
  }


/* 
  .burger-holder {
    display: none;
    float: right;
    padding: 7px 20px 13px 20px;
    margin: 0;
  }
  
  .burger-holder:hover {
    background: #ff8b42;
  } */

  /*=========*/


  /* HOME PAGE */
  
  .home {
      height: 100vh;
      width: 100%;
      background-image: url("../images/background-home.jpg");
      color: white;
      background-size: cover;
  }
  .home-text{
      width: 510px;
      margin: auto;
      text-align: center;
      padding-top: calc(50vh - 120px);
      padding-bottom: calc(50vh - 175px);
  }

  .home-text h1{
      font-size: 60px;
  }

  .home-text h2{
    font-size: 36px;
    opacity: 0.5;
  }

  .home-text h2 span {
    color: #85A2FF;
  }
  .home-text p{
      font-size: 24px;
      height: 54px;
  }

  
  .arrow-holder{
    width:75px;
    height: 75px;
    margin: auto;
    bottom: 100px;
  }

  .arrow-holder img {
    width: 31px;
    margin: 14px 17px 14px 17px;
  }

  .arrow-border{
    width:65px;
    height:65px;
    border: 5px solid #85A2FF;
    border-radius: 100%;
    animation: glowing 3s infinite;
    transition: 1s;
  }

  .arrow-border:hover {
    background-color: #85A2FF;
  }


  @keyframes pulse
{
     0% {
          opacity: 0.6;
     }
     100% {
          opacity: 1;
     }
}

@keyframes glowing {
  0% { box-shadow: 0 0 4px #85A2FF; }
  50% { box-shadow: 0 0 24px #85A2FF; }
  100% { box-shadow: 0 0 4px #85A2FF; }
}


/* ABOUT */
.about{
    background: #696E80;
    color: white;
}

.header{
    height:60px;
    width: 100%;
    padding-top:75px;
    font-size: 36px;
    text-align: center;
    line-height: 60px;
}

.underline{
    height: 5px;
    width: 70px;
    margin: auto;
    background-color: white;
}

.about-container{
    width: 800px;
    margin:auto;
    padding-top: 50px;
}

.about-left{
    width: 50%;
    height: 400px;
    float:left;
    padding: 0 0 50px 0;
}
.about-right{
    width: 50%;
    height: 400px;
    float:right;
    padding: 0 0 50px 0;
}

.img-me{
    width: 350px;
    height: 350px;
    margin: 25px;
    float: right;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-text{
    width: 350px;
    margin: 25px;
}
.about-text h4{
    font-size: 35px;
    padding-top: 25px;
    height: 50px;
}

.about p{
    font-size: 26px;
    opacity: 0.9;
}

.about-text p{
  height: 240px;
}

.skills-bar-div{
    width: 650px;
    margin: auto;
}

.skills-bar-div p {
  text-align: center;
  padding-bottom: 25px;
}

.skills-bar{
    width: 650px;
    padding: 0 0 75px 0;
}

.tri-holder{
  width: 100%;
  height: 75px;
  overflow: hidden;
}

.bottom-page{
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 75px solid #696E80;
  padding: 0;
  margin:0;
}

/* PROJECTS */
.projects {
  min-height: 100vh;
  background-color: white;
  text-align: center;
  overflow: hidden;
}

.projects .underline{
  background-color: black;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 75px 0 75px 0;
}

.project-box {
  max-height: 360px;
  margin:25px;
  background: white;
  padding: 0 0 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-box:hover .project-img {
  -webkit-transform:scale(1.15); /* Safari and Chrome */
  -moz-transform:scale(1.15); /* Firefox */
  -ms-transform:scale(1.15); /* IE 9 */
  -o-transform:scale(1.15); /* Opera */
   transform:scale(1.15);
}

.project-img-holder {
  overflow: hidden;
}

.project-box img {
  height: 200px;
  width: 350px;
  display: block;

  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.project-box-link {
  text-decoration: none;
  border: none;
  color: black;
  padding: 6px;
  width: 124px;
  margin: 5px ;
  background-color: rgb(236, 236, 236);
  font-size: 16px;
  cursor: pointer;
}

.project-box h4 {
  color: black;
  padding: 8px 0 4px 0;
  margin: 0;
}

.project-box h5 {
  font-size: medium;
  color: #6e6e6e;
  padding: 0;
  margin: 0;
}

.project-box p {
  font-size: medium;
  color: black;
  padding: 4px;
}

/* CONTACT */

#bottom-page-2{
  border-top: 75px solid white;
}

.contact{
  background-color: #192031;
}

.contact .header{
  color: white;
}

.contact p{
  text-align: center;
  padding: 75px 0 0 0;
  color: white;
  font-size: 26px;
}

.contact-form {
  display: block;
  text-align: left;
  font-size: 20px;
  padding: 75px 0 150px 0;

}
.form-div {
  max-width: 500px;
  margin: auto;
}

#message{
  height: 200px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  font-family: 'poppins';
  font-size: 20px;
  width: 500px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #55669B;
  box-sizing: border-box;
  margin: 5px;
  resize: vertical;
  background-color: #0e121b;
  color: white;
}

input[type="submit"] {
  background-color: #192031;
  color: white;
  font-size: 22px;
  padding: 5px 10px 5px 10px;
  border: 2px solid white;
  cursor: pointer;
  /* margin: 0 0 0 5px; */
  float: right;
  
}

/* FOOTER */
.footer {
  background-color:#0e121b;
  height: 160px;
  text-align: center;
  border-top: 1px solid #55669B;
}
.footer div{
  width: 250px;
  margin: auto;
}
.footer img{
  width: 50px;
  height: 50px;

}

.footer-img-left{
  float: left;
  padding: 25px 25px 25px 50px;
}
.footer-img-right{
  float: right;
  padding: 25px 50px 25px 25px ;
}

.footer p{
  color: #85A2FF;
  opacity: 0.3;
  font-size: 18px;
  height: 36px;
  float: bottom;
}


/* MOBILE CHANGES */

@media only screen and (max-width: 850px){
  .about-left, .about-right{
    float:none;
    margin: auto;
    padding: 0;
    width: 400px;
    height: 350px;

  }
  .about-container{
    width:400px;
    margin:auto;
    text-align: center;
  }
  .skills-bar-div, .skills-bar{
    width: 400px;
  }
  .bottom-page, .tri-holder{
    display: none;
  }
  .navigation-bar{
    display: none;
  }
}

@media only screen and (max-width: 575px){


  input[type="text"],
  input[type="email"],
  select,
  textarea{
    width: 100%;
  }
  .form-div{
    width:80%;
  }

  .home-text{
    width: 90%;
    margin: auto;
  }
  .home-text h1{
    font-size: 40px;
  }
  .home-text h2{
    font-size:26px;
  }

  .contact p {
    width: 90%;
    margin: auto;
  }

}

@media only screen and (max-width: 500px){
  .about-container, .skills-bar-div{
    width: 90%;
    margin: auto;
    max-width: 400px;
  }  
  .about-left, .about-right, .about-text, .skills-bar, .about p, .about h4{
    width: 100%;
    max-width: 350px;
    height:auto;
    overflow: auto;
  }
  .about-text{
    width: 90%;
    margin: auto;
    padding: 25px 0 25px 0;
  }
  .img-me{
    width: 100%;
    margin: auto;
    height: auto;
  }
  .about p {
    font-size: 22px;
  }
  .about h4{
    font-size: 28px;
  }

}